<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bug tracker AdA Risques</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/marked/marked.min.js"></script>
        <script src="https://kit.fontawesome.com/be1158ef07.js" crossorigin="anonymous"></script>
        <script src="bugs.js"></script>
        <style>
            .form-signature .form-control { height: auto; padding: 10px; }
            #content { border-radius: 1em; border: 1px solid chocolate; background-color: beige; }
        </style>
    </head>
    <body class="h-100 bg-light d-flex flex-column">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img height="36" class="bg-white d-inline-block align-top rounded p-1" src="https://ada-risques.fr/images/headerNew.png" alt="">
                Bug tracker Ada Risques
            </a>
        </nav>
        <div class="container flex-grow-1 d-flex align-items-center" id="container" v-for="issue in issues">
            <div class="card bg-light">
                <a :href="issue.html_url">
                    <h5 class="card-header">#{{ issue.number }} &ndash; {{ issue.title }}</h5>
                </a>
                <div class="card-body pb-0" v-html="marked(issue.body)"></div>
                <div class="card-footer">
                    <ul class="list-inline mb-0" v-for="label in issue.labels">
                        <li class="list-inline-item badge badge-pill" :style="{ backgroundColor: '#' + label.color }">{{ label.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
